Django==2.2
djangorestframework==3.9.2
django-cors-headers==2.5.2
django-filter==1.1.0
coreapi==2.3.3
factory-boy==2.11.1
Markdown==2.6.11
Pygments==2.3.1
django-anymail==4.2
Pillow==5.3.0
django-simple-history==2.7.0
djangorestframework-filters==0.11.1
python-decouple==3.1
django-storages==1.7.1
dj_database_url==0.5.0
zappa==0.47.0
psycopg2==2.7.5
django-safedelete==0.5.1
-e git+https://github.com/Rhumbix/django-request-logging.git@9342ee6064e678fd162418b142d781550d23101c#egg=django_request_logging
-e git+https://github.com/deschler/django-modeltranslation.git@c8bda494a8cd36b393811552aeee71faf86d7438#egg=django-modeltranslation
django-import-export==1.2.0
jsonfield==2.0.2
